<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-6">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-folder"></i> Contrato &nbsp;
            <span *ngIf="idContract === 0" class="badge badge-success">Nuevo</span>
            <span *ngIf="idContract !== 0" class="badge badge-info">Editar</span>

          </ng-template>
          <div class="col-md-9">
            <div class="card">
              <div class="card-header">
                <strong>Campos del contrato</strong>
                <!-- <small>Form</small> -->
              </div>
              <div class="card-body">
                <form [formGroup]="contractForm" autocomplete="off">
                  <div class="form-group row">
                    <label for="name" class="col-md-3 col-form-label">Nombre del Rentador:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="name" maxlength="150" formControlName="nameControl">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">No. Hectáreas:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="acres" maxlength="50" formControlName="acresControl">
                    </div>

                  </div>
                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Cantidad:</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" appOnlyNumbers [aceptDecimal]="true" id="amont"
                        formControlName="amountControl">
                    </div>
                  </div>



                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Ubicación</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="ubicaiton" maxlength="200"
                        formControlName="ubicationControl">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Teléfono</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="phone" maxlength="50" formControlName="phoneControl">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Fecha inicio del contrato editado</label>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input type="text" size="16" readonly [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
                          #dp="bsDatepicker" placeholder="Seleccione una fecha" formControlName="startDateControl"
                          class="form-control" bsDatepicker>
                        <span class="input-group-append">
                          <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                              class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                      </div>
                      <!-- <input type="date" class="form-control" id="startdate" data-date-format="DD MMMM YYYY" formControlName="startDateControl"> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Fecha fin del contrato</label>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input type="text" size="16" readonly [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
                          #dp="bsDatepicker" placeholder="Seleccione una fecha" formControlName="endControl"
                          class="form-control" bsDatepicker>
                        <span class="input-group-append">
                          <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                              class="fa fa-calendar" aria-hidden="true"></i></button>
                        </span>
                      </div>
                      <!-- <input type="date" class="form-control" id="enddate" formControlName="endControl"> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Descripción</label>
                    <div class="col-md-9">
                      <textarea id="description" name="textarea-input" maxlength="500" rows="3" class="form-control"
                        formControlName="descriptionControl"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right" style="margin-left: 9px" (click)="onSave()"
                  [disabled]="contractForm.invalid || disableButtonSave"><i class="fa fa-dot-circle-o"></i>
                  Guardar</button>
                <button type="reset" class="btn btn-danger float-right" (click)="back()"><i class="fa fa-ban"></i>
                  Cancelar</button>
              </div>
            </div>
          </div>
        </tab>
        <tab *ngIf="idContract !== 0">
          <ng-template tabHeading><i class="icon-cloud-upload"></i> Adjuntar imagen</ng-template>
          <import-image [idContract]="idContract"></import-image>

        </tab>
        <tab *ngIf="idContract !== 0">
          <ng-template tabHeading><i class="icon-pie-chart"></i> Resumen</ng-template>
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.
        </tab>
      </tabset>
    </div>
  </div>
</div>