<div class="col-md-9">
    <div class="card">
        <div class="card-header">
            <strong>Campos del contrato</strong>
            <!-- <small>Form</small> -->
        </div>
        <div class="card-body">
            <form [formGroup]="contractForm" autocomplete="off">
                <div class="form-group row">
                    <label for="name" class="col-md-3 col-form-label">Nombre del Rentador:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="name" maxlength="150" formControlName="nameControl">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">No. Hectáreas:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="acres" maxlength="50"
                            formControlName="acresControl">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Cantidad:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" appOnlyNumbers [aceptDecimal]="true" id="amont"
                            formControlName="amountControl">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Ubicación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="ubicaiton" maxlength="200"
                            formControlName="ubicationControl">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Teléfono</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="phone" maxlength="50"
                            formControlName="phoneControl">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Fecha inicio del contrato editado</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" size="16" readonly [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
                                #dp="bsDatepicker" placeholder="Seleccione una fecha" formControlName="startDateControl"
                                class="form-control" bsDatepicker>
                            <span class="input-group-append">
                                <button class="btn btn-success" (click)="dp.toggle()"
                                    [attr.aria-expanded]="dp.isOpen"><i class="fa fa-calendar"
                                        aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <!-- <input type="date" class="form-control" id="startdate" data-date-format="DD MMMM YYYY" formControlName="startDateControl"> -->
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Fecha fin del contrato</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" size="16" readonly [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
                                #dp="bsDatepicker" placeholder="Seleccione una fecha" formControlName="endControl"
                                class="form-control" bsDatepicker>
                            <span class="input-group-append">
                                <button class="btn btn-success" (click)="dp.toggle()"
                                    [attr.aria-expanded]="dp.isOpen"><i class="fa fa-calendar"
                                        aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ccnumber" class="col-md-3 col-form-label">Descripción</label>
                    <div class="col-md-9">
                        <textarea id="description" name="textarea-input" maxlength="500" rows="3" class="form-control"
                            formControlName="descriptionControl"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right" style="margin-left: 9px"
                tooltip="Click para guardar los cambios del contrato" (click)="onSave()"
                [disabled]="contractForm.invalid || disableButtonSave"><i class="fa fa-dot-circle-o"></i>
                Guardar</button>
            <button type="reset" class="btn btn-danger float-right"
                tooltip="Click para cancelar los cambios del contrato" (click)="back()"><i class="fa fa-ban"></i>
                Cancelar</button>
        </div>
    </div>
</div>