<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-6">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-folder"></i> Contrato &nbsp;
            <span *ngIf="idContract === 0" class="badge badge-success">Nuevo</span>
            <span *ngIf="idContract !== 0" class="badge badge-info">Editar</span>
          </ng-template>
          <app-conctract-register [idContract]="idContract"></app-conctract-register>
        </tab>
        <tab *ngIf="idContract !== 0">
          <ng-template tabHeading><i class="icon-cloud-upload"></i> Adjuntar imagen</ng-template>
          <import-image [idContract]="idContract"></import-image>

        </tab>
        <tab *ngIf="idContract !== 0">
          <ng-template tabHeading><i class="icon-pie-chart"></i> Resumen</ng-template>
          <app-resume-contract [idContract]="idContract"></app-resume-contract>
        </tab>
      </tabset>
    </div>
  </div>
</div>