<div class="row">
    <div class="col-md-6">
        <label for="nf-price">Importar imagen para el contrato</label><br>
        <input #fileInput type="file" (change)="handleFileInput($event.target.files)" class="dropify"
            data-max-file-size="20M" (click)="fileInput.value = null" data-allowed-file-extensions="png jpg bmp"
            data-show-loader="false" data-height="290" />
        <br />
        <div class="row">
            <div class="col-md-12">
                <button type="button" (click)="importImage();" class="btn btn-success active float-right" aria-pressed="true"
                    style="margin-left: 9px;"><i class="fa cil-cloud-upload"></i>&nbsp;Importar Imagen</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="nf-price">Imagenes del contrato</label><br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>imagen</td>
                    <td>acciones</td>
                </tr>
            </tbody>
            <!-- <tbody>
                <tr
                    *ngFor="let contract of contractsList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements }">
                    <td>{{contract.Id}}</td>
                    <td>{{contract.Name}}</td>
                    <td>{{contract.StartDate}} al {{contract.EndDate}}</td>
                    <td>{{contract.Acres}}</td>
                    <td>{{contract.Amount}}</td>
                    <td>
                        <button type="button" class="btn btn-info active" aria-pressed="true"
                            (click)="dangerModal.show();idContract=contract.Id;contractName=contract.Name;"><i
                                class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-info active" aria-pressed="true"
                            (click)="goToRegister(contract.Id)"><i class="fa fa-pencil"></i></button>
                        
                    </td>
                </tr>
            </tbody> -->
        </table>
    </div>
</div>