<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Resumen de contratos
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Total de Contratos</small>
                    <br>
                    <strong class="h4">{{totalContract}}</strong>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Total de Contratos Activos</small>
                    <br>
                    <strong class="h4">{{totalActiveContract}}</strong>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
              <div *ngFor="let conctract of customerDetail">
                <div class="progress-group">
                  <div class="progress-group-header align-items-end">
                    <i class="icon-globe progress-group-icon"></i>
                    <div>{{ conctract.NameContract}}</div>
                    <div class="ml-auto font-weight-bold mr-2">
                     Contrato: {{conctract.TotalContract | currency}}<small> &nbsp;{{conctract.Percentage}}%</small>
                     &nbsp;&nbsp;Agua:{{conctract.TotalWather | currency}}
                    </div>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-success" role="progressbar"  [ngStyle]="{ 'width': conctract.Percentage + '%' }" aria-valuenow="45"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Total de Pagos a Contratos</small>
                    <br>
                    <strong class="h4">{{totalPaymentContract}}</strong>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">Total de Pagos de Agua</small>
                    <br>
                    <strong class="h4">{{totalPaymentWater}}</strong>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
              <div class="progress-group">
                <div class="progress-group-header">
                  <i class="icon-user progress-group-icon"></i>
                  <div>Total Pagos en Agua</div>
                  <div class="ml-auto font-weight-bold">{{totalCostWater | currency}}</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 100%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <i class="icon-user-female progress-group-icon"></i>
                  <div>Total de pagos en Contrato</div>
                  <div class="ml-auto font-weight-bold">{{totalCostContrat | currency}}</div>
                </div>
                <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>