<div class="row">
    <div class="col-6 col-lg-6">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-laptop bg-info p-2 font-2xl mr-3 float-left"></i>
            <div class="h5 text-info mb-0 mt-2">{{TotalPayment | currency}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Total cantidad abonada</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6" *ngIf="PaymentType === 0">
        <div class="card">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-bell bg-danger p-2 font-2xl mr-3 float-left"></i>
            <div class="h5 text-danger mb-0 mt-2">{{TotalRestremaining | currency}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Cantidad restante</div>
          </div>
        </div>
      </div>
</div>